/*----------------- General Styles ------------------------*/

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
}


/*---------------- Form Layout Styles --------------------*/

.question-container {
  height: 80vh;
}

.question-container .content {
  padding: 0!important;
  padding-left: 8px!important;
}


/*----------- Question Layout Styles ---------------------*/


.question-frame-wrapper {
  height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

ul.questions {
  padding: 0!important;
}

.content-wrapper li {
  width: 100%!important;
  box-sizing: border-box!important;
}


/*---------------- Button Styles--------------------*/

.buttons-wrapper {
    position: fixed;
    top: 80vh;
    width: 100%;
    justify-content: center;
}

.buttons-wrapper div{

}

.button-wrapper.continue {
    height: 40px;
    width: 130px;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(20, 21, 20, 0.55);
    color: #CCBEBE;
    margin: 0 20px;
}



/*--------------------------------------------------------*/




/* ------------------ Media Queries -------------------*/


@media (min-width: 700px) {



}

