content {
	margin-top: 10vh;
	text-align: center
}
row {
	margin-top: 4%;
	margin-bottom: 3%;
}

question {
	font-size: 32;
}

portlet {
	portlet-title {
		border-bottom: none;
	}
}
text-left {
	text-align: left;
}
text-center {
	text-align: center;
}

text-options {
	padding-top: 3%;
}
btn {
	padding-top: 6%;
	padding-bottom: 6%;
	border: 1px solid #1ec7c7;
	color: #242621;
	background-color: #ffffff;
}