<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="dist/master.css" rel="stylesheet" type="text/css"/>
        <link href="dist/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="whimsapp" id="root"></div>
    </body>
    	<script src={{appSource}}></script>
</html>
