<html>
    <head>
        <link href="dist/master.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="whimsapp" id="root"></div>
    </body>
    	<script src={{appSource}}></script>
</html>
