@import 'config';

.component {
    position: relative;
    float: right;
    width: $widgetSize;
}

.initial {
    composes: component;
    transform: translatex($widgetSize + $toggleSize);
}

.collapsed {
    composes: component;
    transform: translatex($widgetSize);
}

.expanded {
    composes: component;
    transform: translatex(0px);
}

.body {
    border: solid #ccc;
    border-width: 0 0 1px 1px;
    background-color: white;
}
